#layout-table {
    border: 1px solid #bdc3c7;
}

#layout-table td {
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: default;
}

#layout-table tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: #ecf0f1;
}

#layout-table tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: #ecf0f1;
}

#layout-table td:hover {
    background-color: #95a5a6 !important;
    color: white;
}

#layout-table td.selected {
    background-color: #3498db !important;
    color: white;
}
