#app-container {
  max-width:768px;
}

#layout-form input {
  margin-left: 10px;
  margin-right: 10px;
}

#layout-form {
  margin-bottom: 10px;
}

#layout-table {
    border-collapse: separate;
    border-spacing: 2px;
}

#layout-table td {
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: default;
}

#layout-table tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: #ecf0f1;
}

#layout-table tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: #ecf0f1;
}

#layout-table td:hover {
    background-color: #95a5a6 !important;
    color: white;
}

#layout-table td.selected {
    background-color: #3498db !important;
    color: white;
}

#tag-assignment-selector button {
  margin-right: 10px;
  user-select: none;
  cursor: pointer;
}
