#app-container {
  max-width:768px;
}

#layout-form input {
  margin-left: 10px;
  margin-right: 10px;
}

#layout-form {
  margin-bottom: 10px;
}

/* Layout table */

#layout-container {
  padding-bottom: 50px;
}

#layout-table {
    border-collapse: separate;
    border-spacing: 2px;
}

#layout-table td {
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: default;
    padding: 5px;
}

#layout-table tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: #ecf0f1;
}

#layout-table tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: #ecf0f1;
}

#layout-table td:hover {
    background-color: #95a5a6 !important;
    color: white;
}

#layout-table td.selected {
    background-color: #3498db !important;
    color: white;
}

/* Tags */

#tag-container {
  padding-bottom: 50px;
}

/* Employees */

#employee-container {
  padding-bottom: 50px;
}

#employee-table td {
  vertical-align: middle;
}

/* Tag table */

#table-tag-container {
  padding-bottom: 50px;
}

#table-tag-table {
    border-collapse: separate;
    border-spacing: 2px;
}

#table-tag-table td {
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: default;
    padding: 5px;
}

#table-tag-table tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: #ecf0f1;
}

#table-tag-table tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: #ecf0f1;
}

#table-tag-table td:hover {
    background-color: #95a5a6 !important;
    color: white;
}

#table-tag-table td.selected {
    background-color: #2ecc71 !important;
    color: white;
}

#tag-assignment-selector button {
  margin-right: 10px;
  user-select: none;
  cursor: pointer;
}

/* Distance constraint */

#distance-constraint-container {
  padding-bottom: 50px;
}

#distance-constraint-table label {
  margin-right:10px;
}

/* Summary */

#summary-container {
  padding-bottom: 50px;
}

#summary-table {
    border-collapse: separate;
    border-spacing: 2px;
}

#summary-table td {
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: default;
    padding: 5px;
}

#summary-table tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: #ecf0f1;
}

#summary-table tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: #ecf0f1;
}

#summary-table td.selected {
    background-color: #9b59b6 !important;
    color: white;
}

#result-container {
  padding-bottom: 50px;
}
