.shrink {
  white-space:nowrap
}

.expand {
  width: 99%
}

#app-container {
  max-width:768px;
}

#layout-form input {
  margin-left: 10px;
  margin-right: 10px;
}

#layout-form {
  margin-bottom: 10px;
}

/* Layout table */

#layout-container {
  padding-bottom: 50px;
}

#layout-table {
  border-collapse: separate;
  border-spacing: 2px;
}

#layout-table td {
  width: 40px;
  height: 40px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  padding: 5px;
}

#layout-table tr:nth-child(2n) td:nth-child(2n+1) {
  background-color: #ecf0f1;
}

#layout-table tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: #ecf0f1;
}

#layout-table td:hover {
  background-color: #95a5a6 !important;
  color: white;
}

#layout-table td.selected {
  background-image: url(images/table.png);
  background-size: 75%, 75%, contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

/* Tags */

#tag-container {
  padding-bottom: 50px;
}

/* Employees */

#employee-container {
  padding-bottom: 50px;
}

#employee-table td {
  vertical-align: middle;
}

/* Tag table */

#table-tag-container {
  padding-bottom: 50px;
}

#table-tag-table {
  border-collapse: separate;
  border-spacing: 2px;
}

#table-tag-table td {
  width: 40px;
  height: 40px;
  text-align: center;
  user-select: none;
  padding: 5px;
}

#table-tag-table tr:nth-child(2n) td:nth-child(2n+1) {
  background-color: #ecf0f1;
}

#table-tag-table tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: #ecf0f1;
}

#table-tag-table td.selected {
  background-color: #2ecc71 !important;
  color: white;
  cursor: pointer;
}

#table-tag-table td.selected:hover {
  background-color: #27ae60 !important;
  color: white;
}

#tag-assignment-selector button {
  margin-right: 10px;
  user-select: none;
  cursor: pointer;
}

/* Distance constraint */

#distance-constraint-container {
  padding-bottom: 50px;
}

#distance-constraint-table label {
  margin-right:10px;
}

/* Position constraints container */

#position-constraint-container {
  padding-bottom: 50px;
}

#position-constraint-container {
  padding-bottom: 50px;
}

#position-constraint-table {
  border-collapse: separate;
  border-spacing: 2px;
}

#position-constraint-table td {
  width: 40px;
  height: 40px;
  text-align: center;
  user-select: none;
  padding: 5px;
}

#position-constraint-table tr:nth-child(2n) td:nth-child(2n+1) {
  background-color: #ecf0f1;
}

#position-constraint-table tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: #ecf0f1;
}

#position-constraint-table td.selected {
  background-color: #f1c40f !important;
  cursor: pointer;
}

#position-constraint-table td.assigned {
  background-color: #f1c40f !important;
  cursor: pointer;
  color: white;
}

#position-constraint-table td.selected:hover, #position-constraint-table td.assigned:hover {
  background-color: #f39c12 !important;
}

#position-constraint-table .dropdown-toggle:after {
  content: none
}

/* Summary */

#summary-container {
  padding-bottom: 50px;
}

#summary-table {
  border-collapse: separate;
  border-spacing: 2px;
}

#summary-table td {
  width: 40px;
  height: 40px;
  text-align: center;
  user-select: none;
  cursor: default;
  padding: 5px;
}

#summary-table tr:nth-child(2n) td:nth-child(2n+1) {
  background-color: #ecf0f1;
}

#summary-table tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: #ecf0f1;
}

#summary-table td.selected {
  background-color: #9b59b6 !important;
  color: white;
}

/* Result */

#result-container {
  padding-bottom: 50px;
}

#result-container {
  padding-bottom: 50px;
}

#result-table {
  border-collapse: separate;
  border-spacing: 2px;
}

#result-table td {
  width: 40px;
  height: 40px;
  text-align: center;
  user-select: none;
  cursor: default;
  padding: 5px;
}

#result-table tr:nth-child(2n) td:nth-child(2n+1) {
  background-color: #ecf0f1;
}

#result-table tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: #ecf0f1;
}

#result-table td.selected {
  background-color: #34495e !important;
  color: white;
}

#result-error {
  margin-left: 10px;
}

#result-actions button {
  margin-right: 10px
}

/* Spinning. See http://stackoverflow.com/a/26283602 */

.spinning {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
